main{
  background-color: #328FA8;
  margin: 10px;
  color: white;
}

header{
  text-align: start;
  padding: 4%;
  font-size: 200%;
  background-color: #328fa8;
  color: white;
}
p{
  font-family: consolas;
  line-height: 1.5;
}
h2{
  display: left;

  text-align: center;

  font-family: serif;
  font-size: 150%;
  margin: 4%;
}

.oop_image{
  position: relative;
  right: 0;
}
.wrapper1 .sub1{
  background-color: #328FA8;
  margin: 10px;
  float: right;


  width: 40%;
}

.wrapper2 .sub2{
  float: left;
  background-color: #328FA8;
  margin: 10px;

  width: 40%;
}

.wrapper_p
{
  float: left;

  width: 50%;
  margin: 5%;
}

.wrapper_p ul{
  margin-left: 5%;
  list-style: circle;
  font-family: consolas;
  line-height: 1.5;
}
/* .wrapper{
  max-width: 35%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
} */

.contact{
  font-family: serif;
  float: right;
  font-size: 50%;
  margin-top: 10px;
}

footer{
  position: relative;
  top: 350px;
  text-align: center;
  background-color: #328fa8;
  color: white;

  padding: 5%;
}

@media screen and (max-width: 768px){
  .wrapper1 .sub1{
 
    width:100%;
  }
  
  .wrapper2 .sub2{
    width:100%;
  }
}